polars-lts-cpu
numpy
seaborn
matplotlib
torch_geometric
plotly==5.22.0
python-igraph
networkit
networkx
scipy
pretty-errors
dependency-injector
thespian
tensorboard
matplotlib
networkit
networkx
numpy
pandas
scikit_learn