polars-lts-cpu
numpy
seaborn
matplotlib
torch_geometric
plotly==5.22.0
python-igraph
networkit
networkx
dependency-injector
thespian
tensorboard
matplotlib
networkit
networkx
numpy
pandas
scikit_learn
torch==2.1.2
torch-cluster==1.6.3
torch-scatter==2.1.2
torch-sparse==0.6.18
torch-spline-conv==1.2.2
torch_geometric==2.4.0